!!!  
%html  
  %head  
    %title Fusion Voice Demo
  %body  
    %h1 Welcome
    %p  
      This is just a cover page.  The point of the application is to serve images given certain command strings.  You can call these as REST API Calls passing in the string.  We will provide facilities later to customize what gets returned.

      E.g. try the following:
      http://voicedemo.herokuapp.com/API/v1/help

      or

      http://voicedemo.herokuapp.com/API/v1/navigating
